@font-face {
    font-family: 'robotothin';
    src: url('@/assets/fonts/RobotoMono-Thin.ttf') format('truetype');
  }

@font-face {
font-family: 'robotolight';
src: url('@/assets/fonts/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'robotomedium';
    src: url('@/assets/fonts/RobotoMono-Medium.ttf') format('truetype');
    }

@font-face {
font-family: 'robotomediumi';
src: url('@/assets/fonts/RobotoMono-MediumItalic.ttf') format('truetype');
}